* {
    margin: 0 auto;
}

Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(251, 207, 140);
    padding: 1rem;
    color:azure;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    height: 25px;
}

Nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

Nav ul li {
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

Nav ul li a {
    color:brown;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-size: 1.2rem;
}

Nav ul li a:hover {
    background-color:rgb(251, 207, 140);
    color: mediumpurple;
    transform: scale(1.6) 0.3s ease;
    transition: color 0.3s ease;
}

main h1{
    text-align: center;
    margin-top: 2rem;
    color:indianred;
    font-size: 35px;
}
main p {
    text-align: center;
    margin-top: 1rem;
    color:indigo;
    font-size: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 2rem;
    border: solid 3px indigo;
    padding: 1rem;
    margin-left: 5px;
    margin-right: 5px;
}

.images {
    border-radius: 10px;
    transition: transform 0.3s ease;
    width: 50%;
    border-right: 5px solid indigo;
    padding-right: 1px;
    padding-left: 1px;
}

.images figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.images h2 {
    color:indigo;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.images figure img {
    width: 360px;
    height: 350px;
}

.videos figure video {
    width: 460px;
    height: 350px;
}

.videos h2 {
    color:indigo;
    font-size: 25px;
    text-align: center;
}

footer {
    background-color:rgb(251, 207, 140);
    color:brown;
    text-align: center;
    padding: 1rem;
    height: 20px;
}   